<html>
    <head>
        <title>{{ title }} - Microblog</title>
    </head>
    <body>
        <h1>
            Hello, I am adventurer {{ adventurer.name }}!<br />
            I wear a {{ adventurer.hat }} hat!
        </h1>

        <p>
            Games I played in are:<br />
            <table>
                {% for game in games %}
                    <tr>
                        <td>{{ game }}</td>
                    </tr>
                {% endfor %}
            </table>
        </p>
    </body>
</html>
